{% load static %}
<!DOCTYPE html>
<html lang="zxx">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="ecommerce website" />
    <meta name="specs website,googles,ecommerce,eyewear website" content="ecommerce" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
      {% block title %}

      {% endblock %}
    </title>

    <!-- Google Font -->
    <link href="https://fonts.googleapis.com/css2?family=Cookie&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <!-- Css Styles -->
    <link rel="stylesheet" href="{%  static '/css/bootstrap.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{%  static '/css/font-awesome.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{%  static '/css/elegant-icons.css' %}" type="text/css" />
    <link rel="stylesheet" href="{%  static '/css/jquery-ui.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{%  static '/css/magnific-popup.css' %}" type="text/css" />
    <link rel="stylesheet" href="{%  static '/css/owl.carousel.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{%  static '/css/slicknav.min.css' %}" type="text/css" />
    <link rel="stylesheet" href="{%  static '/css/style.css' %}" type="text/css" />
  </head>

  <body>
    <!-- Page Preloder -->
    <div id="preloder">
      <div class="loader"></div>
    </div>

    <!-- Offcanvas Menu Begin -->
    <div class="offcanvas-menu-overlay"></div>
    <div class="offcanvas-menu-wrapper">
      <div class="offcanvas__close">+</div>
      <ul class="offcanvas__widget">
        <li>
          <span class="icon_search search-switch"></span>
        </li>
        <li>
          <a href="#">
            <span class="icon_heart_alt"></span>
            <div class="tip">2</div>
          </a>
        </li>
        <li>
          <a href="#">
            <span class="icon_bag_alt"></span>
            <div class="tip">2</div>
          </a>
        </li>
      </ul>
      <div class="offcanvas__logo">
        <a href="./index.html"><img src="{%  static '/img/logo.png' %}" alt="" /></a>
      </div>
      <div id="mobile-menu-wrap"></div>
      <div class="offcanvas__auth">
        <a href="#">Login</a>
        <a href="#">Register</a>
      </div>
    </div>
    <!-- Offcanvas Menu End -->

    <!-- Header Section Begin -->
    <header class="header header-area header-sticky background-header">
      <div class="container-fluid">
        <div class="row">
          <div class="col-xl-3 col-lg-2">
            <div class="header__logo">
              <a href="/"><img src="{%  static '/img/logo_main.png' %}" alt="" /></a>
            </div>
          </div>
          <div class="col-xl-3 col-lg-7">
            <nav class="header__menu" style="width: 400px;">
              <ul>
                <li class="active">
                  <a href="/">Home</a>
                </li>
                <li>
                  <a href="/product">product</a>
                </li>
                {% comment %} <li>
                  <a href="#">Pages</a>
                  <ul class="dropdown">
                    <li>
                      <a href="product-details">Product Details</a>
                    </li>
                    <li>
                      <a href="shop-cart">Shop Cart</a>
                    </li>
                    <li>
                      <a href="checkout">Checkout</a>
                    </li>
                  </ul>
                </li> {% endcomment %}
                <li>
                  <a href="/contact">Contact</a>
                </li>
              </ul>
            </nav>
          </div>
          
          {% if request.user.is_authenticated %}
          <div class="col-xl-4 col-lg-7 " >
            <nav class="header__menu">
              <ul style="text-align: right;">
                <li>
                  <a href="#">
                    <span class="fa fa-user" style="font-size:20px"></span>
                  </a>
                  <ul class="dropdown">
                    <li>
                      <a href="/auth/logout">Logout</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          {% else %}
          <div class="col-xl-4 col-lg-7 " >
            <nav class="header__menu">
              <ul style="text-align: right;">
                <li>
                  <a href="#">
                    <span class="fa fa-user"style="font-size:20px"></span>
                  </a>
                  <ul class="dropdown">
                    <li>
                      <a href="/auth/signup">Sign Up</a>
                    </li>
                    <li>
                      <a href="/auth/login">LogIn</a>
                    </li>
                  </ul>
                </li>
              </ul>
            </nav>
          </div>
          {% endif %}
            
          
          <div class="col-lg-1">
            <div class="header__right">
              <ul class="header__right__widget">
                <li>
                  <span class="icon_search search-switch"></span>
                </li>
                <li>
                  <a href="/wishlist">
                    <span class="icon_heart_alt"></span>
                    <div class="tip">2</div>
                  </a>
                </li>
                <li>
                  <a href="/cart">
                    <span class="icon_bag_alt"></span>
                    <div class="tip">2</div>
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="canvas__open">
          <i class="fa fa-bars"></i>
        </div>
      </div>
    </header>
    <!-- Header Section End -->
    <!-- Categories Section Begin -->

    {% block body %}
    {% endblock body %}

    <!-- Instagram Begin -->
    <div class="instagram">
      <div class="container-fluid">
          <div class="row">
              <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                  <div class="instagram__item set-bg" data-setbg="{%  static '/img/instagram/insta-1.jpeg' %}">
                  </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                  <div class="instagram__item set-bg" data-setbg="{%  static '/img/instagram/insta-2.jpeg' %}">
                  </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                  <div class="instagram__item set-bg" data-setbg="{%  static '/img/instagram/insta-3.jpeg' %}">
                  </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                  <div class="instagram__item set-bg" data-setbg="{%  static '/img/instagram/insta-4.jpeg' %}">
                  </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                  <div class="instagram__item set-bg" data-setbg="{%  static '/img/instagram/insta-5.jpeg' %}">
                  </div>
              </div>
              <div class="col-lg-2 col-md-4 col-sm-4 p-0">
                  <div class="instagram__item set-bg" data-setbg="{%  static '/img/instagram/insta-6.jpeg' %}">
                  </div>
              </div>
          </div>
      </div>
    </div>
    <!-- Instagram End -->

    <!-- Footer Section Begin -->
    <footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6 col-sm-7">
            <div class="footer__about">
              <div class="footer__logo">
                <a href="/"><img src="{%  static '/img/logo-footer.png' %}" alt="" /></a>
              </div>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt cilisis.</p>
              <div class="footer__payment">
                <a href="#"><img src="{%  static '/img/payment/payment-1.png' %}" alt="" /></a>
                <a href="#"><img src="{%  static '/img/payment/payment-2.png' %}" alt="" /></a>
                <a href="#"><img src="{%  static '/img/payment/payment-3.png' %}" alt="" /></a>
                <a href="#"><img src="{%  static '/img/payment/payment-4.png' %}" alt="" /></a>
                <a href="#"><img src="{%  static '/img/payment/payment-5.png' %}" alt="" /></a>
              </div>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-5">
            <div class="footer__widget">
              <h6>Quick links</h6>
              <ul>
                <li>
                  <a href="#">About</a>
                </li>
                <li>
                  <a href="#">Blogs</a>
                </li>
                <li>
                  <a href="#">Contact</a>
                </li>
                <li>
                  <a href="#">FAQ</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-2 col-md-3 col-sm-4">
            <div class="footer__widget">
              <h6>Account</h6>
              <ul>
                <li>
                  <a href="#">My Account</a>
                </li>
                <li>
                  <a href="#">Orders Tracking</a>
                </li>
                <li>
                  <a href="#">Checkout</a>
                </li>
                <li>
                  <a href="#">Wishlist</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-lg-4 col-md-8 col-sm-8">
            <div class="footer__newslatter">
              <h6>NEWSLETTER</h6>
              <form action="#">
                <input type="text" placeholder="Email" />
                <button type="submit" class="site-btn">Subscribe</button>
              </form>
              <div class="footer__social">
                <a href="#"><i class="fa fa-facebook"></i></a>
                <a href="#"><i class="fa fa-twitter"></i></a>
                <a href="#"><i class="fa fa-youtube-play"></i></a>
                <a href="#"><i class="fa fa-instagram"></i></a>
                <a href="#"><i class="fa fa-pinterest"></i></a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            <div class="footer__copyright__text">
              <p>
                Copyright &copy;<script>
                                  document.write(new Date().getFullYear())
                                </script>All rights reserved | This template is made with <i class="fa fa-heart" aria-hidden="true"></i> by <a href="https://colorlib.com" target="_blank">Colorlib</a>
              </p>
            </div>
            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
          </div>
        </div>
      </div>
    </footer>
    <!-- Footer Section End -->

    <!-- Search Begin -->
    <div class="search-model">
      <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
          <input type="text" id="search-input" placeholder="Search here....." />
        </form>
      </div>
    </div>
    <!-- Search End -->

    <!-- Js Plugins -->
    <script src="{%  static '/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{%  static '/js/bootstrap.min.js' %}"></script>
    <script src="{%  static '/js/jquery.magnific-popup.min.js' %}"></script>
    <script src="{%  static '/js/jquery-ui.min.js' %}"></script>
    <script src="{%  static '/js/mixitup.min.js' %}"></script>
    <script src="{%  static '/js/jquery.countdown.min.js' %}"></script>
    <script src="{%  static '/js/jquery.slicknav.js' %}"></script>
    <script src="{%  static '/js/owl.carousel.min.js' %}"></script>
    <script src="{%  static '/js/jquery.nicescroll.min.js' %}"></script>
    <script src="{%  static '/js/main.js' %}"></script>
    <script src="{%  static '/js/loginpage.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

  </body>
</html>
